.taskList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.taskList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
    word-break: break-all;
}

.taskList__item--done {
    text-decoration: line-through;
}

.taskList__button--done {
    width: 30px;
    height: 30px;
    background-color: rgb(26, 123, 30);
    color: #fff;
}

.taskList__button--remove {
    width: 30px;
    height: 30px;
    background-color: rgb(236, 41, 58);
    color: #fff;
}